# Logo
logo: # Empty this to unset logo

# Header
menu:
  Рубрики: categories
  Архив статей: archives
  О нас: about

# Content
excerpt_link: Читать дальше
fancybox: true

# Profile
profile: true # whether to show profile bar
gravatar: false # whether to use gravatar with the email
showlogo: false # whether to show the logo in the header

# Sidebar
sidebar: right # set to false if you don't want a sidebar
widgets:
- tag
- links
thumbnail: true

# Contacts
contacts:
  twitter: http://twitter.com/beardyshow
  soundcloud: http://soundcloud.com/beardycast
  youtube-play: https://www.youtube.com/user/BeardyCastTV
  vk: http://vk.com/beardycast
  apple: https://itunes.apple.com/ru/podcast/beardycast/id868222886
  rss: atom.xml

# Links
links:
  Libsyn: http://directory.libsyn.com/shows/view/id/beardycast
  Теория большой бороды: http://tbbt.beardycast.com

adslink: ads

# CDN
cdn: #If your site loads slowly change it to "google" , because "useso" is slow out of China

# Miscellaneous
google_site_verification:
google_analytics:
favicon: favicon.png
twitter: beardyshow
google_plus:
fb_admins:
fb_app_id:
